<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Carl Book</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/cbook.png">
    <!--Attribution: part of the favicon comes from https://www.flickr.com/photos/frisno/-->
    <meta name="description" content="Hi, this is Carl.">
    <!-- <meta name="keywords" content="HTML,CSS,XML,JavaScript"> -->
    <!-- <meta name="author" content="Carl"> -->

    <!-- For viewing on different devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

    <header>
        <div class="nav">
            <ul>
                <li><a href="http://www.cbook3.com/">Home</a></li>
                <li><a href="http://www.cbook3.com/HandwrittenDigits8x8/">Digits Recognition</a></li>
                <li><a href="http://www.cbook3.com/ChartPractice/">Stock Chart Practice</a></li>
                <!-- <li><a href="#">More Stuff Here</a></li> -->
                <!-- <li><a href="#" title='just kidding'>Riemann Hypothesis Proof</a></li> -->
            </ul>
        </div>
    </header>


    <div class="contentBox">


        <div class="notes">
            <p>This website is my introduction to HTML, CSS, and Javascript. It is hosted on <a href=https://www.pythonanywhere.com/login/ target="_blank">pythonanywhere</a> and uses <a href=http://flask.pocoo.org/ target="_blank">Flask</a> and MySQL.</p>
            <p>The <a href="http://www.cbook3.com/HandwrittenDigits8x8/">Digits Recognition</a> page steps through a few ideas in machine learning using the scikit-learn digits dataset, including k-Nearest Neighbors, clustering, and a convolutional network using Keras and Tensorflow. The app on the <a href="http://www.cbook3.com/ChartPractice/">Stock Chart Practice</a> page is mostly Javascript with AJAX to dynamically generate and modify visual elements.</p>
        </div>


    </div>




</body>
</html>
